@use '~styles/colors.module.scss' as colors;
@use '~styles/medias.module.scss' as medias;

.experience {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: colors.$color-dark;
}

.container {
  position: relative;
  width: 100%;
  height: 900vh;
}

.content {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  perspective: 200rem;
  perspective-origin: 50%;
}

.universe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

.galaxy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20vh;
  font-weight: 900;
  font-style: italic;
  white-space: nowrap;

  & .time {
    color: transparent;
    -webkit-text-stroke: 0.035ch colors.$color-green;
  }
}

.planet {
  position: absolute;
  opacity: 0.15;
  color: transparent;
  font-size: 9vh;
  font-style: normal;
  -webkit-text-stroke: 0.06ch colors.$color-white;
}

.logo {
  height: 20vh;
  margin-bottom: 5vh;
}

.intro {
  transform: translate3d(-50%, -50%, -150vh);
}

.mog {
  transform: translate3d(-50%, -50%, -1850vh);
  opacity: 0;
}

.triggerise {
  transform: translate3d(-50%, -50%, -3550vh);
  opacity: 0;
}

.moxy {
  transform: translate3d(-50%, -50%, -5250vh);
  opacity: 0;
}

.gyant {
  transform: translate3d(-50%, -50%, -6950vh);
  opacity: 0;
}

.rows {
  transform: translate3d(-50%, -50%, -8650vh);
  opacity: 0;
}

.conf {
  transform: translate3d(-50%, -50%, -10350vh);
  opacity: 0;
}

/* ==========================================================================
   Landscape
   ========================================================================== */

@media (orientation: landscape) {
  .star {
    font-size: 20vh;
  }

  .planet {
    font-size: 9vh;
  }

  .logo {
    height: 20vh;
    margin-bottom: 5vh;
  }

  .mog {
    & .planet:nth-child(3) {
      transform: translate(80vh, -40vh);
    }

    & .planet:nth-child(4) {
      transform: translate(-80vh, -30vh);
    }

    & .planet:nth-child(5) {
      transform: translate(45vh, 40vh);
    }

    & .planet:nth-child(6) {
      transform: translate(-50vh, 50vh);
    }
  }

  .triggerise {
    & .planet:nth-child(3) {
      transform: translate(20vh, -50vh);
    }

    & .planet:nth-child(4) {
      transform: translate(-100vh, -10vh);
    }

    & .planet:nth-child(5) {
      transform: translate(95vh, 40vh);
    }

    & .planet:nth-child(6) {
      transform: translate(-20vh, 50vh);
    }
  }

  .moxy {
    & .planet:nth-child(3) {
      transform: translate(-8vh, -47vh);
    }

    & .planet:nth-child(4) {
      transform: translate(-100vh, 10vh);
    }

    & .planet:nth-child(5) {
      transform: translate(100vh, -10vh);
    }

    & .planet:nth-child(6) {
      transform: translate(20vh, 50vh);
    }
  }

  .gyant {
    & .planet:nth-child(3) {
      transform: translate(80vh, -40vh);
    }

    & .planet:nth-child(4) {
      transform: translate(-80vh, -30vh);
    }

    & .planet:nth-child(5) {
      transform: translate(45vh, 40vh);
    }

    & .planet:nth-child(6) {
      transform: translate(-50vh, 50vh);
    }
  }

  .rows {
    & .planet:nth-child(3) {
      transform: translate(80vh, -40vh);
    }

    & .planet:nth-child(4) {
      transform: translate(-80vh, -30vh);
    }

    & .planet:nth-child(5) {
      transform: translate(45vh, 40vh);
    }

    & .planet:nth-child(6) {
      transform: translate(-50vh, 50vh);
    }
  }

  .conf {
    & .planet:nth-child(3) {
      transform: translate(20vh, -50vh);
    }

    & .planet:nth-child(4) {
      transform: translate(-100vh, -10vh);
    }

    & .planet:nth-child(5) {
      transform: translate(95vh, 40vh);
    }

    & .planet:nth-child(6) {
      transform: translate(-20vh, 50vh);
    }
  }
}

/* ==========================================================================
    Portrait
    ========================================================================== */

@media (orientation: portrait) {
  .star {
    font-size: 20vw;
  }

  .planet {
    font-size: 9vw;
  }

  .logo {
    height: 20vw;
    margin-bottom: 5vw;
  }

  .mog {
    & .planet:nth-child(3) {
      transform: translate(80vw, -40vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-80vw, -30vw);
    }

    & .planet:nth-child(5) {
      transform: translate(45vw, 40vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-50vw, 50vw);
    }
  }

  .triggerise {
    & .planet:nth-child(3) {
      transform: translate(20vw, -50vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-100vw, -10vw);
    }

    & .planet:nth-child(5) {
      transform: translate(95vw, 40vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-20vw, 50vw);
    }
  }

  .moxy {
    & .planet:nth-child(3) {
      transform: translate(-8vw, -47vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-100vw, 10vw);
    }

    & .planet:nth-child(5) {
      transform: translate(100vw, -10vw);
    }

    & .planet:nth-child(6) {
      transform: translate(20vw, 50vw);
    }
  }

  .gyant {
    & .planet:nth-child(3) {
      transform: translate(80vw, -40vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-80vw, -30vw);
    }

    & .planet:nth-child(5) {
      transform: translate(45vw, 40vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-50vw, 50vw);
    }
  }

  .rows {
    & .planet:nth-child(3) {
      transform: translate(80vw, -40vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-80vw, -30vw);
    }

    & .planet:nth-child(5) {
      transform: translate(45vw, 40vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-50vw, 50vw);
    }
  }

  .conf {
    & .planet:nth-child(3) {
      transform: translate(20vw, -50vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-100vw, -10vw);
    }

    & .planet:nth-child(5) {
      transform: translate(95vw, 40vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-20vw, 50vw);
    }
  }
}

/* ==========================================================================
   Custom Medias
   ========================================================================== */

@media (max-width: medias.$desktop-small) {
  .mog {
    & .planet:nth-child(3) {
      transform: translate(50vw, -50vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-50vw, -40vw);
    }

    & .planet:nth-child(5) {
      transform: translate(35vw, 40vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-30vw, 50vw);
    }
  }

  .triggerise {
    & .planet:nth-child(3) {
      transform: translate(38vw, -39vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-42vw, -46vw);
    }

    & .planet:nth-child(5) {
      transform: translate(47vw, 44vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-37vw, 50vw);
    }
  }

  .moxy {
    & .planet:nth-child(3) {
      transform: translate(47vw, -51vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-48vw, -41vw);
    }

    & .planet:nth-child(5) {
      transform: translate(38vw, 52vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-29vw, 43vw);
    }
  }

  .gyant {
    & .planet:nth-child(3) {
      transform: translate(47vw, -40vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-48vw, -46vw);
    }

    & .planet:nth-child(5) {
      transform: translate(45vw, 37vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-36vw, 50vw);
    }
  }

  .rows {
    & .planet:nth-child(3) {
      transform: translate(50vw, -50vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-50vw, -40vw);
    }

    & .planet:nth-child(5) {
      transform: translate(35vw, 40vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-30vw, 50vw);
    }
  }

  .conf {
    & .planet:nth-child(3) {
      transform: translate(38vw, -39vw);
    }

    & .planet:nth-child(4) {
      transform: translate(-42vw, -46vw);
    }

    & .planet:nth-child(5) {
      transform: translate(47vw, 44vw);
    }

    & .planet:nth-child(6) {
      transform: translate(-37vw, 50vw);
    }
  }
}

/* ==========================================================================
    iOS
    ========================================================================== */

@supports (-webkit-touch-callout: none) {
  .content {
    height: 90vh;
  }
}
