@import "../../styles/imports/index.css";

.link {
  position: relative;
  color: inherit;
  font-weight: bold;
  text-decoration: none;

  &::before,
  &::after {
    position: absolute;
    opacity: 0;
    color: var(--color-green);
    transition: all 0.1s ease-out;
  }

  &::before {
    content: "<";
    top: 0;
    left: -1ch;
    transform: translateY(-50%);
  }

  &::after {
    content: " />";
    top: 0.1rem;
    right: 0;
    transform: translate(100%, 50%);
    white-space: pre;
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }

    &::before {
      transform: translateY(0);
    }

    &::after {
      transform: translate(100%, 0);
    }
  }
}
