@keyframes grain {
  0%,
  100% { transform: translate(0, 0); }

  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 30%); }
  90% { transform: translate(-10%, 10%); }
}

.grain {
  position: relative;
  z-index: 0;
}

.grain::after {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  opacity: 0.4;
  background-image: url("../../media/images/grain.png");
  /*animation: grain 8s steps(10) infinite;*/
}
