{
  "extends": "@moxy/stylelint-config",
  "plugins": ["stylelint-scss"],
  "ignoreFiles": ["!**/*.css", "!**/*.scss"],
  "rules": {
    "indentation": 2,
    "declaration-property-value-disallowed-list": null,
    "string-quotes": "single",
    "scale-unlimited/declaration-strict-value": 0
  }
}
