@import "../../styles/imports/index.css";

.layout {
  position: absolute;
  width: var(--layout-width);
  height: var(--layout-height);
  padding: var(--layout-padding);
  color: var(--color-white);
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--layout-padding) solid var(--color-white);
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;

  /* Hide Scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.progress {
  position: absolute;
  right: calc(var(--layout-padding) / 2);
  width: 0.2rem;
  height: calc(100vh - (var(--layout-padding) * 2));
  transform: translate(50%, 0);
  background-color: var(--color-light-gray);

  & .percentage {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleY(1);
    transform-origin: center top;
    background-color: var(--color-dark-gray);
  }
}

.grain {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--layout-width);
  height: var(--layout-height);
  padding: var(--layout-padding);
}
