@import "../../../../shared/styles/imports/index.css";

.bounds {
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: var(--color-dark-gray);
}

.expertise {
  height: 100vh;
  padding-top: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  perspective: 1000px;
  user-select: none;
}

.text,
.logos {
  position: relative;
  transform-style: preserve-3d;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .title {
    margin-bottom: 3vh;
    font-family: "Leiko";
    font-size: 2.9vh;
  }

  & .item {
    margin-top: -0.1ch;
    color: transparent;
    font-size: 12vh;
    font-weight: 900;
    transition: all 0.3s ease;
    -webkit-text-stroke: 0.03ch var(--color-white);

    &:hover {
      color: var(--color-white);
    }
  }
}

.logos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  & .itemLogo {
    position: absolute;
    width: 35%;

    &.react {
      top: 10%;
      left: -18%;
    }

    &.next {
      top: 23%;
      right: -21%;
    }

    &.redux {
      top: 61%;
      right: -21%;
    }

    &.node {
      top: 61%;
      left: -25%;
    }
  }
}

/* ==========================================================================
   Landscape
   ========================================================================== */

@media (orientation: landscape) {
  .text {
    & .title {
      font-size: 2.9vh;
    }

    & .item {
      font-size: 12vh;
    }
  }
}

/* ==========================================================================
   Portrait
   ========================================================================== */

@media (orientation: portrait) {
  .text {
    & .title {
      font-size: 5vw;
    }

    & .item {
      font-size: 14vw;
    }
  }
}
