@use '~styles/colors.module.scss' as colors;
@use '~styles/medias.module.scss' as medias;

.contacts {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-frame-top));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: colors.$color-gray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .title {
    font-size: 8vh;
    font-weight: 800;
    font-style: italic;
  }

  & .subtitle {
    margin-top: 3vh;
    font-family: 'Leiko';
    font-size: 2.5vh;
  }
}

.social {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
}

.copyright {
  position: absolute;
  bottom: 6rem;
  opacity: 0.3;
}

/* ==========================================================================
    Small-Desktop
    ========================================================================== */

@media (max-width: medias.$desktop-small) {
  .social {
    max-width: 34rem;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

/* ==========================================================================
    Small-Tablet
    ========================================================================== */

@media (max-width: 600px) {
  .social {
    width: 31.5rem;
    max-width: unset;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .content {
    & .title {
      font-size: 15vw;
    }

    & .subtitle {
      font-size: 5vw;
    }
  }

  .copyright {
    bottom: 3vh;
    font-size: 1.4rem;
  }
}

/* ==========================================================================
    iOS
    ========================================================================== */

@supports (-webkit-touch-callout: none) {
  .contacts {
    height: var(--layout-height);
  }

  /* iPhone 6S */
  @media (max-height: 600px) {
    .content {
      & .title {
        font-size: 7vh;
      }

      & .subtitle {
        margin-top: 2vh;
      }
    }
  }
}
