@import "../custom-medias";

/* ==========================================================================
  Fonts
  ========================================================================== */

@define-mixin _font-karasuma $fontWeight: normal {
  font-family: "Karasuma", sans-serif;
  font-weight: $(fontWeight);
}

/* ==========================================================================
  All typography variants

  $unit - Either em or rem
  ========================================================================== */

@define-mixin typography-h1 $unit: rem {
  @mixin _font-karasuma bolder;
  font-size: 8$(unit);
}

@define-mixin typography-h2 $unit: rem {
  @mixin _font-karasuma bold;
  font-size: 4.8$(unit);
}

@define-mixin typography-body $unit: rem {
  @mixin _font-karasuma;
  font-size: 1.6$(unit);
}

@define-mixin typography-body $unit: rem {
  @mixin _font-karasuma;
  font-size: 1.6$(unit);
}
