@import "../../../../shared/styles/imports/index.css";

.bounds {
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: var(--color-gray);
}

.hero {
  position: relative;
  width: 100%;
  height: var(--content-viewport-height);
  padding-top: calc(var(--header-frame-top) + var(--header-height));
}

.title {
  position: absolute;
  top: 2ch;
  left: 1ch;
  font-size: 11vh;
  font-weight: bold;
  user-select: none;

  & > * {
    margin: 0;

    &:last-child {
      margin-top: -0.3ch;
      color: transparent;
      font-size: 1.045em;
      font-weight: 900;
      -webkit-text-stroke: 0.035ch var(--color-green);
    }
  }
}

.number {
  position: absolute;
  bottom: -0.32em;
  left: -0.075em;
  opacity: 0.1;
  font-family: "Leiko";
  font-size: 90rem;
  user-select: none;
}

.experience {
  position: absolute;
  bottom: 25rem;
  left: 38rem;
  font-family: "Leiko";
  font-size: 6.4rem;
  user-select: none;

  & > * {
    margin: 0;

    &:last-child {
      margin-top: 0.2em;
    }
  }
}

/* ==========================================================================
    Desktop
    ========================================================================== */

@media (--layout-lte-xlarge) {
  .portrait {
    width: 54vw;
  }

  .title {
    top: 15vh;
    left: 5vw;
    font-size: 7vw;
  }

  .number {
    font-size: 55vw;
  }

  .experience {
    bottom: 16vw;
    left: 23vw;
    font-size: 3.7vw;
  }
}

/* ==========================================================================
    Portrait
    ========================================================================== */

@media (orientation: portrait) {
  .portrait {
    right: 50%;
    width: auto;
    height: 57vh;
    transform: translate(50%, 0);
  }

  .title {
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 17vw;
  }

  .number {
    top: -7vh;
    bottom: unset;
    left: -0.065em;
    font-size: 80vh;
  }

  .experience {
    display: none;
  }
}
