/* ==========================================================================
   Colors
   ========================================================================== */

$color-white: #fff;
$color-black: #000;
$color-dark: #0f0f11;
$color-gray: #2d2e32;
$color-light-gray: #c1c5d4;
$color-dark-gray: #191a1d;
$color-green: #64f4ac;
$color-green-dark: #286144;
