@use './medias.module.scss' as medias;

:root {
  --layout-width: 100vw;
  --layout-height: 100vh;
  --layout-max-width: 150rem;
  --layout-padding: 2.2rem;

  --header-height: 4rem;
  --header-frame-top: calc(var(--layout-padding) * 2);

  --content-viewport-height: calc(100vh - (var(--layout-padding) * 2));

  --carousel-item-width: 60vw;
  --carousel-item-height: 30vw;
}

/* ==========================================================================
  Landscape
  ========================================================================== */

@media (orientation: landscape) {
  :root {
    --carousel-item-width: 60vw;
    --carousel-item-height: 33vw;
  }
}

/* ==========================================================================
  Portrait
  ========================================================================== */

@media (orientation: portrait) {
  :root {
    --carousel-item-width: 80vw;
    --carousel-item-height: 80vw;
  }
}

/* ==========================================================================
  Custom medias
  ========================================================================== */

@media (max-width: medias.$tablet) {
  :root {
    --layout-padding: 2vw;
  }
}

/* iOS Only */
@supports (-webkit-touch-callout: none) {
  :root {
    --layout-height: fill-available;
  }

  :root {
    --carousel-item-width: 75vw;
    --carousel-item-height: 75vw;
  }
}
