/* ================================================================================
   Fonts
   If you are going to include custom fonts please use the /src/shared/media/fonts
   directory.
   ================================================================================ */

@font-face {
  font-family: 'Karasuma';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../www/shared/media/fonts/karasuma/KarasumaGothic-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Karasuma';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../www/shared/media/fonts/karasuma/KarasumaGothic-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Karasuma';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../www/shared/media/fonts/karasuma/KarasumaGothic-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Karasuma';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('../www/shared/media/fonts/karasuma/KarasumaGothic-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Leiko';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../www/shared/media/fonts/leiko/Leiko-Regular.woff2') format('woff2');
}
