/* ==========================================================================
   Medias
   ========================================================================== */

$mobile-small: 23.4375em;               /* 375px */
$mobile: 30em;                          /* 480px */
$tablet: 48em;                          /* 768px */
$desktop-small: 64em;                   /* 1024px */
$desktop: 80em;                         /* 1280px */
$desktop-xlarge: 90em;                  /* 1440px */
$desktop-xxlarge: 120em;                /* 1920px */
