/* ==========================================================================
   Smooth & sharp mixins
   ========================================================================== */

@mixin text-smooth {
  -moz-osx-font-smoothing: grayscale; /* Font smoothing tweaks for MacOSx in Gecko */
  -webkit-font-smoothing: antialiased; /* Font smoothing tweaks for MacOSx in Webkit */
}

@mixin text-sharp {
  -moz-osx-font-smoothing: initial; /* Turn off font smoothing tweaks for MacOSx in Gecko */
  -webkit-font-smoothing: initial; /* Turn off font smoothing tweaks for MacOSx in Webkit */
}
